<a href="#!/order">Order</a>
<a href="#!/kitchen">Kitchen</a>
<client-info></client-info>
<div class="list-group"> 
  <div class="list-group-item" data-ng-repeat="menuItem in vm.menu">
    <h4 class="list-group-item-heading">
      <span>Блюдо: {{menuItem.title}}</span>
    </h4>
    <button ng-disabled="vm.checked" data-ng-click="vm.addOrder(menuItem)" data-ng-bind="vm.orderBtnData(menuItem.price)"></button>
    <div>
      <img data-ng-src="{{menuItem.image}}" class="list-group-item-heading">
    </div>
    <p class="list-group-item-text">
      Id: {{menuItem.id}}, Рейтинг блюда: {{menuItem.rating}}
    </p>
    <p>Ингредиенты:</p>
    <ul class="list-group-item-sublist" data-ng-repeat="ingredient in menuItem.ingredients track by $index">
      <li>{{ingredient}}</li>
    </ul>
    <p class="list-group-item-price">
      Цена: {{menuItem.price}}
    </p>
  </div>
</div>
