<div data-ng-hide="vm.formSended">
  <form name="vm.loginForm" novalidate>
    <div id="form-group">
      <label>Имя</label>
      <input type="text" name="nameInput" data-ng-model="vm.user.name">
    </div>
    <div class="form-group" data-ng-class="{'has-error': vm.loginForm.emailInput.$dirty && vm.loginForm.emailInput.$invalid }">
      <label>E-mail</label>
      <input type="email" name="emailInput" data-ng-model="vm.user.email">
    </div>
    <div data-ng-show="vm.loginForm.emailInput.$dirty && vm.loginForm.emailInput.$invalid">
      <p data-ng-show="vm.loginForm.emailInput.$invalid">Введите корректный email</p>
    </div>
    <button data-ng-click="vm.formSubmit()">send</button>
  </form>
</div>