<navigation></navigation>
<h2>Заказанные блюда</h2>
<table width="50%">
  <tr>
    <td width="85%">Название</td>
    <td width="15%">Статус</td>
    <td></td>
  </tr>
  <tr data-ng-repeat="dish in vm.orderedDishes track by $index">
    <td colspan="4">
      <order-item dish="dish"></order-item>
    </td>
    <td>
      <button class="waves-effect waves-light btn" data-ng-click="vm.startCook(dish)">Начать готовить</button>
    </td>
  </tr>
</table>
<h2>Готовятся</h2>
<table width="50%">
  <tr>
    <td width="85%">Название</td>
    <td width="15%">Статус</td>
    <td></td>
  </tr>
  <tr data-ng-repeat="dish in vm.cookingDishes track by $index">
    <td colspan="4">
      <order-item dish="dish"></order-item>
    </td>
    <td>
      <button class="waves-effect waves-light btn" data-ng-click="vm.endCook(dish)">Готово</button>
    </td>
  </tr>
</table>