<div>
  <a href="#!/kitchen">Kitchen</a>
  <client-info></client-info>
  <table>
    <tr>
      <td width="85%">Название</td>
      <td width="15%">Статус</td>
      <td></td>
    </tr>
    <tr data-ng-repeat="dish in vm.dishes track by $index">
        <td colspan="4">
            <order-item dish="dish"></order-item>
        </td>
    </tr>
  </table>
  <div data-ng-show="isDelivered">{{vm.orderDelivered}}</div>
  <div data-ng-show="isDelveryFailed">{{vm.ordersDeliveryFailed}}</div>
  <button data-ng-click="vm.showMenu()">Выбрать блюдо</button>
</div>